#root {
  display: grid;
  margin: 0 auto;
  max-width: 500px;
  min-height: 100vh;
  padding: 1rem;
  place-items: center;
  width: 100%;
}

.password-title {
  color: var(--theme-heading-color);
  font-size: 1.1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.wrapper-main header {
  align-items: center;
  background-color: var(--theme-depth-color);
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.4rem;
  padding: 1rem 1.5rem;
}

.password-copy__input {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1.3px;
  outline: 0;
}

.password-copy {
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.password-copy:hover {
  transform: scale(1.09);
  stroke: #fff;
}

.password-range__input {
  -webkit-appearance: none;
  background: var(--theme-bg-body);
  background-image: linear-gradient(var(--theme-primary-color), var(--theme-primary-color));
  background-repeat: no-repeat;
  background-size: 50% 100%;
  margin-bottom: 2rem;
  width: 100%;
}

.password-range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--theme-secondary-color);
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  margin-top: -8px;
  width: 24px;
}

.password-range__input::-moz-range-thumb {
  appearance: none;
  background: var(--theme-secondary-color);
  border-radius: 50%;
  border: var(--theme-secondary-color);
  cursor: pointer;
  height: 24px;
  margin-top: -8px;
  width: 24px;
}

.password-range__input::-ms-thumb {
  appearance: none;
  background: var(--theme-secondary-color);
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  margin-top: -8px;
  width: 24px;
}

.password-range__input::-webkit-slider-thumb:hover {
  background: var(--theme-bg-body);
  border: 2px solid var(--theme-primary-color);
}

.password-range__input::-moz-range-thumb:hover {
  background: var(--theme-bg-body);
  border: 2px solid var(--theme-primary-color);
}

.password-range__input::-ms-thumb:hover {
  background: var(--theme-bg-body);
  border: 2px solid var(--theme-primary-color);
}

.password-range__input::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
  cursor: pointer;
  width: 100%;
}

.password-range__input::-webkit-slider-runnable-track {
  height: 0.45rem;
  width: 100%;
}

.password-range__input:focus {
  outline: none;
}

.wrapper-main {
  width: 100%;
}

.wrapper-body {
  background-color: var(--theme-depth-color);
  padding: 1.5rem;
}

.wrapper-length {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.4rem;
}

.password-subtitle {
  font-size: 0.8rem;
}

.password-character__length {
  color: var(--theme-primary-color);
  font-size: 1.4rem;
  font-weight: 700;
}

.wrapper-checkboxs {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.4rem;
  row-gap: 0.5rem;
}

.wrapper-checkboxs label {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.wrapper-checkboxs input[type='checkbox'] {
  height: 0;
  opacity: 0;
  visibility: hidden;
  width: 0;
}

.wrapper-checkboxs input[type='checkbox']:checked ~ .custom-checkbox {
  border-color: var(--theme-primary-color);
  background-color: var(--theme-primary-color);
}

.wrapper-checkboxs input[type='checkbox']:checked ~ .custom-checkbox::after {
  display: block;
}

.custom-checkbox {
  align-items: center;
  border: 2px solid var(--theme-secondary-color);
  cursor: pointer;
  display: inline-flex;
  height: 1.2rem;
  justify-content: center;
  margin-right: 1rem;
  position: relative;
  width: 1.2rem;
}

.custom-checkbox::after {
  content: url('./assets/icon-check.svg');
  display: none;
  position: absolute;
  top: -3px;
}

.strength-meter-wrapper {
  background-color: var(--theme-bg-strength);
  margin-bottom: 1.4rem;
  min-height: 66px;
  padding: 1rem 2rem;
}

.strength-meter-wrapper,
.strength-meter,
.strength-levels {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.strength-title {
  color: var(--theme-heading-color);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.strength-meter {
  column-gap: 1rem;
}

.strength-meter h4 {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.strength-levels span {
  background-color: var(--theme-bg-strength);
  border: 1px solid white;
  height: 1.6rem;
  margin-right: 6px;
  width: 0.6rem;
}

.strength-levels span:last-of-type {
  margin-right: 0;
}

.generate-password {
  align-items: center;
  background-color: var(--theme-primary-color);
  border: 2px solid transparent;
  column-gap: 0.8rem;
  cursor: pointer;
  display: flex;
  font-family: var(--theme-font-family);
  font-size: 0.9rem;
  font-weight: 700;
  justify-content: center;
  outline: 0;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
  width: 100%;
}

.generate-password:hover {
  background-color: var(--theme-depth-color);
  border: 2px solid var(--theme-primary-color);
  color: var(--theme-primary-color);
}
