:root {
  line-height: 1.5;
  font-weight: 400;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --theme-bg-body: #0e0d13;
  --theme-bg-strength: #18171f;
  --theme-primary-color: #a4ffaf;
  --theme-secondary-color: #e5e4eb;
  --theme-heading-color: #838093;
  --theme-depth-color: #24232b;
  --theme-too-weak-color: #f64a4a;
  --theme-weak-color: #fb7c58;
  --theme-medium-color: #f8cd65;
  --theme-font-family: 'JetBrains Mono', monospace;
}

html {
  font-size: 16px;
}

body {
  color: var(--theme-secondary-color);
  background-color: var(--theme-bg-body);
  font-family: var(--theme-font-family);
}

img {
  height: auto;
  vertical-align: middle;
}

a {
  font-weight: 500;
  text-decoration: none;
}
